<template>
    <div>
      <div v-if="toModify" class="standingUpdaterItem">
        <input type="text" v-model="team.teamName">
        <input type="number" v-model="team.playedGames">
        <input type="number" v-model="team.points">
        <input type="number" v-model="team.goalFor">
        <input type="number" v-model="team.goalAgainst">
        <div class="btn-box">
          <button class="button is-info" @click="updateRow()">Edit</button>
          <button class="button is-danger" @click="deleteRow()">Delete</button>
        </div>
      </div>
      <div v-else class="standingUpdaterItem">
        <p>{{ team.teamName }}</p>
        <p>{{ team.playedGames }}</p>
        <p>{{ team.points }}</p>
        <p>{{ team.goalFor }}</p>
        <p>{{ team.goalAgainst }}</p>
        <div class="btn-box">
          <button class="button is-info" @click="toggleToModify()">Edit</button>
          <button class="button is-danger" @click="deleteRow()">Delete</button>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "StandingUpdaterItem",
        props: ['teamProps'],
        methods: {
          toggleToModify(){
            this.toModify = !this.toModify
          },
          async updateRow(){
            this.$store.dispatch('updateRow', {
              row: this.team,
              auth: await this.$auth.getAccessToken()
            })
            this.toggleToModify()
          },
          async deleteRow(){
            this.$store.dispatch('deleteRow', {
              row: this.team,
              auth: await this.$auth.getAccessToken()
            })
          }
        },
        data(){
          return {
            toModify: false,
            team: {
              id: this.teamProps.id,
              category: this.teamProps.category,
              teamName: this.teamProps.teamName,
              playedGames: this.teamProps.playedGames,
              points: this.teamProps.points,
              goalFor: this.teamProps.goalFor,
              goalAgainst: this.teamProps.goalAgainst
            }
          }
        }
    }
</script>

<style scoped>
  .standingUpdaterItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 0;
  }

  input, p, .btn-box {
    width: 20%;
  }

  .btn-box {
    display: flex;
    justify-content: space-between;
  }

  .btn-box button {
    width: 45%;
  }

</style>
