<template>
    <div>
      <standing-item v-for="team in teams" v-bind:team="team"/>
    </div>
</template>

<script>
    import StandingItem from "./StandingItem";
    export default {
      name: "Standings",
      components: {StandingItem},
      computed: {
          teams(){
            return this.$store.getters.getTeams
          }
        },
        async created(){
          this.$store.dispatch('fetchTeams', await this.$auth.getAccessToken())
        }
    }
</script>

<style scoped>

</style>
