<template>
    <div>
      <span>{{team.name}}</span>
      <span>
        <font-awesome-icon icon="edit" @click="goToUpdate()"/>
      </span>
    </div>
</template>

<script>
    export default {
        name: "StandingItem",
        props: ['team'],
        methods: {
          async goToUpdate(){
            this.$store.dispatch('fetchStanding', {
              team: this.team,
              auth: await this.$auth.getAccessToken()
            })
            this.$router.push('/update-standing')
          }
        }
    }
</script>

<style scoped>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
