<template>
  <div>
    <h1 class="title">{{ currentTeam.name }}</h1>
    <div class="keys">
      <p>Nom</p>
      <p>Matchs joués</p>
      <p>Points</p>
      <p>Buts marqués</p>
      <p>Buts encaissés</p>
      <p></p>
    </div>
    <standing-updater-item v-for="team in standing" v-bind:teamProps="team" v-bind:key="team.id"/>
    <div class="row-creator">
      <input type="text" v-model="team.teamName">
      <input type="number" v-model="team.playedGames">
      <input type="number" v-model="team.points">
      <input type="number" v-model="team.goalFor">
      <input type="number" v-model="team.goalAgainst">
      <button class="button is-info" @click="createRow()">Add</button>
    </div>
  </div>
</template>

<script>
    import StandingUpdaterItem from "./StandingUpdaterItem";
    export default {
      name: "StandingUpdater",
      components: {StandingUpdaterItem},
      data(){
        return {
          team: {
            teamName: '',
            playedGames: '',
            points: '',
            goalFor: '',
            goalAgainst: ''
          }
        }
      },
      computed: {
        standing(){
          return this.$store.getters.getStandingToUpdate
        },
        currentTeam(){
          return this.$store.getters.getCurrentTeam
        }
      },
      methods: {
        async createRow(){
          this.$store.dispatch('addRow', {
            row: this.team,
            auth: await this.$auth.getAccessToken()
          })
        }
      }
    }
</script>

<style scoped>
  .keys {
    display: flex;
    padding: 1em 0;
  }

  .keys p {
    font-weight: bold;
    width: 20%;
  }

  .row-creator {
    display: flex;
    margin-top: 1.5em;
  }

  .row-creator input, .row-creator button {
    width: 20%;
  }
</style>
