<template>
    <div>
      <player-item v-for="player in players" v-bind:player="player" v-bind:key="player.id"/>
      <router-link tag="button" to="/create-player">Ajouter un nouveau joueur</router-link>
    </div>
</template>

<script>
    import PlayerItem from "./PlayerItem";
    export default {
        name: "Players",
        components: {PlayerItem},
        computed: {
          players(){
            return this.$store.getters.getPlayers
          }
        },
        async created(){
          this.$store.dispatch('fetchPlayers', await this.$auth.getAccessToken())
        }
    }
</script>

<style scoped>

</style>
