<template>
  <div>
    <div class="form">
      <input type="text" v-model="player.name">
      <select v-model="player.team1_id">
        <option value="1">Elite</option>
        <option value="2">Prénational</option>
        <option value="3">Junior</option>
        <option value="4">Cadet</option>
        <option value="5">Minime</option>
        <option value="6">Benjamin</option>
        <option value="7">Poussin</option>
      </select>
      <select v-model="player.team2_id">
        <option value="1">Elite</option>
        <option value="2">Prénational</option>
        <option value="3">Junior</option>
        <option value="4">Cadet</option>
        <option value="5">Minime</option>
        <option value="6">Benjamin</option>
        <option value="7">Poussin</option>
      </select>
      <select v-model="player.position">
        <option>Avant</option>
        <option>Arrière</option>
        <option>Gardien de But</option>
      </select>
      <input type="number" v-model="player.experience">
      <input type="text" v-model="player.picture">
      <div>
        <input type="text" v-model="palmaresToCreate">
        <button class="button" @click="addPalmares()">Add</button>
      </div>
      <ul>
        <li v-for="palmares in player.palmares" v-bind:key="palmares.id">{{ palmares.content }} <button class="button is-danger" @click="deletePalmares(palmares)">Delete</button></li>
      </ul>
    </div>
    <button class="button is-primary" @click="updatePlayer()">Modifier</button>
  </div>
</template>

<script>
    export default {
        name: "PlayerUpdater",
        data(){
          return {
            player: {},
            palmaresToDelete: [],
            palmaresToCreate: null
          }
        },
        methods: {
          async updatePlayer(){
            this.$store.dispatch('updatePlayer', {
              player: this.player,
              palmaresToDelete: this.palmaresToDelete,
              auth: await this.$auth.getAccessToken()
            })
            this.$router.push('/players')
          },
          addPalmares(){
            const newPalmares = {
              content: this.palmaresToCreate,
              player_id: this.player.id
            }
            this.player.palmares = [...this.player.palmares, newPalmares]
          },
          deletePalmares(toXpalmares){
            this.player.palmares = this.player.palmares.filter(palmares => palmares.content != toXpalmares.content)
            if(toXpalmares.id){
              this.palmaresToDelete = [...this.palmaresToDelete, toXpalmares.id]
            }
          }
        },
        created(){
          this.player = this.$store.getters.getPlayerToUpdate
        }
    }
</script>

<style scoped>
  .form > * {
    display: block;
  }
</style>
