<template>
    <div>
      <p>{{ player.name }}</p>
      <span>
          <font-awesome-icon icon="edit" @click="goToUpdate"/>
          <font-awesome-icon icon="trash-alt" @click="deletePlayer"/>
      </span>
    </div>
</template>

<script>
    export default {
        name: "PlayerItem",
        props: ['player'],
        methods: {
          goToUpdate(){
            this.$store.dispatch('playerToUpdate', this.player)
            this.$router.push('/update-player')
          },
          async deletePlayer(){
            this.$store.dispatch('deletePlayer', {
              player: this.player,
              auth: await this.$auth.getAccessToken()
            })
          }
        }
    }
</script>

<style scoped>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
