<template>
  <div>
    <div>
      <input type="text" v-model="video.title">
    </div>

    <div>
      <input type="text" v-model="video.yt_id">
    </div>

    <div>
      <button @click="updateVideo()">Ajouter la vidéo</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "VideoUpdater",
    data(){
      return {
        video: {}
      }
    },
    created(){
      this.video = this.$store.getters.getVideoToUpdate
    },
    methods: {
      async updateVideo(){
        this.$store.dispatch('updateVideo', {
          video: this.video,
          auth: await this.$auth.getAccessToken()
        })
        this.$router.push('/videos')
      }
    }

  }
</script>

<style scoped>

</style>
