<template>
  <div>
    <video-item v-for="video in videos" v-bind:video="video" />

    <router-link tag="button" to="/create-video">Ajouter une vidéo</router-link>
  </div>
</template>

<script>
    import VideoItem from "./VideoItem";
    export default {
      name: "Videos",
      components: {VideoItem},
      computed: {
        videos(){
          return this.$store.getters.getVideos
        }
      },
      async created(){
        this.$store.dispatch("fetchVideos", await this.$auth.getAccessToken())
      }
    }
</script>

<style scoped>

  div {
    text-align: left;
  }
  p {
    display: flex;
    justify-content: space-between;
  }

  #button {
    display: flex;
    justify-content: center;
  }

  div>div>button {
    padding: 1em;
    color: white;
    background-color: royalblue;
  }

</style>
