<template>
  <div>
    <div>
      <input type="text" placeholder="Titre" v-model="video.title">
    </div>

    <div>
      <input type="text" placeholder="ID YouTube" v-model="video.yt_id">
    </div>

    <div>
      <button @click="createVideo()">Ajouter la vidéo</button>
    </div>
  </div>
</template>

<script>
    export default {
        name: "VideoCreator",
        data(){
          return {
            video: {
              title: '',
              yt_id: ''
            }
          }
        },
        methods: {
          async createVideo(){
            this.$store.dispatch('addVideo', {
              video: this.video,
              auth: await this.$auth.getAccessToken()
            })
            this.$router.push('/videos')
          }
        }

    }
</script>

<style scoped>

</style>
