<template>
      <div>
        <span>{{ video.title }}</span>
        <span>
        <font-awesome-icon icon="edit" @click="goToUpdate"/>
        <font-awesome-icon icon="trash-alt" @click="deleteVideo"/>
      </span>
      </div>
</template>

<script>
    export default {
        name: "VideoItem",
        props: ['video'],
        methods: {
          goToUpdate(){
            this.$store.dispatch('videoToUpdate', this.video)
            this.$router.push('/update-video')
          },
          async deleteVideo(){
            this.$store.dispatch('deleteVideo', {
              video: this.video,
              auth: await this.$auth.getAccessToken()
            })
          }
        }
    }
</script>

<style scoped>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
