<template>
    <div>
      <div>
        <GalleryItem v-for="gallery in galleries" v-bind:gallery="gallery"/>
      </div>

      <div id="button">
        <router-link tag="button" to="/create-gallery">Créer une gallerie</router-link>
      </div>
    </div>
</template>

<script>
    import GalleryItem from "./GalleryItem";
    export default {
      name: "Galleries",
      components: {GalleryItem},
      computed: {
          galleries(){
            return this.$store.getters.getGalleries
          }
        },
      async created(){
        this.$store.dispatch('fetchGalleries', await this.$auth.getAccessToken());
      },
    }
</script>

<style scoped>
  div {
    text-align: left;
  }
  p {
    display: flex;
    justify-content: space-between;
  }

  #button {
    display: flex;
    justify-content: center;
  }

  div>div>button {
    padding: 1em;
    color: white;
    background-color: royalblue;
  }

</style>
