<template>
  <div>
    <input type="text" v-model="gallery.title">
    <button @click="createGallery()">Créer la galerie</button>
  </div>
</template>

<script>
  import ImageItem from "./ImageItem";
  export default {
    name: "GalleryCreator",
    components: {ImageItem},
    data(){
      return {
        gallery: {
          title: ''
        }
      }
    },
    methods: {
      async createGallery(){
        this.$store.dispatch('addGallery', {
          gallery: this.gallery,
          auth: await this.$auth.getAccessToken()
        })
        this.$router.push('/update-gallery')
      }
    }
  }
</script>

<style scoped>

</style>
