<template>
    <div>
      <span>{{gallery.title}}</span>
      <span>
        <font-awesome-icon icon="edit" @click="goToUpdate"/>
        <font-awesome-icon icon="trash-alt" @click="deleteGallery"/>
      </span>
    </div>
</template>

<script>
    export default {
        name: "GalleryItem",
        props: ['gallery'],
        methods: {
          goToUpdate(){
            this.$store.dispatch('galleryToUpdate', this.gallery)
            this.$router.push('/update-gallery')
          },
          async deleteGallery(){
            this.$store.dispatch('deleteGallery', {
              gallery: this.gallery,
              auth: await this.$auth.getAccessToken()
            })
          }
        }
    }
</script>

<style scoped>

  div {
    display: flex;
    justify-content: space-between;
  }

</style>
