<template>
    <div>
      <input type="text" v-model="gallery.title">
      <div v-if="gallery.images">
        <image-item v-for="image in gallery.images" v-bind:image="image"/>
      </div>
      <input type="text" v-model="img_url_to_add"><font-awesome-icon icon="plus" @click="addImage()"/>
      <button @click="updateGallery()">Modifier la galerie</button>
    </div>
</template>

<script>
    import ImageItem from "./ImageItem";
    export default {
      name: "GalleryUpdater",
      components: {ImageItem},
      data(){
        return {
          gallery: {},
          img_url_to_add: ''
        }
      },
      created(){
        this.gallery = this.$store.getters.getGalleryToUpdate
      },
      methods: {
        async updateGallery(){
          this.$store.dispatch('updateGallery', {
            gallery: this.gallery,
            auth: await this.$auth.getAccessToken()
          })
          this.$router.push('/galleries')
        },

        addImage(){
          const newImage = {
            img_url: this.img_url_to_add
          }
          this.$store.dispatch('addImageToGalleryToUpdate', newImage)
          this.img_url_to_add = ''
        },
      }
    }
</script>

<style scoped>

</style>
