<template>
  <figure>
    <img :src="image.img_url" >
    <figcaption>
      <font-awesome-icon icon="trash-alt" @click="deleteImage"/>
    </figcaption>
  </figure>
</template>

<script>
    export default {
        name: "ImageItem",
        props: ['image'],
        methods: {
          async deleteImage(){
            this.$store.dispatch('deleteImage', {
              image: this.image,
              auth: await this.$auth.getAccessToken()
            })
          }
        }
    }
</script>

<style scoped>

</style>
