<template>
  <div>
    <div>
      <game-item v-for="game in games" v-bind:game="game" v-bind:key="game.id"/>
    </div>
    <div>
      <router-link tag="button" to="/create-game">Ajouter un nouveau match</router-link>
    </div>
  </div>
</template>

<script>
    import GameItem from "./GameItem";
    export default {
        name: "Games",
        components: {GameItem},
        computed: {
          games(){
              return this.$store.getters.getGames
            }
        },
        async created(){
          this.$store.dispatch('fetchGames', await this.$auth.getAccessToken())
        }
    }
</script>

<style scoped>

</style>
