<template>
  <div>
    <div>
      <p>Titre du match</p>
      <input type="text" v-model="game.gameType">
    </div>

    <div>
      <p>Date</p>
      <input type="datetime-local" v-model="game.date">
    </div>

    <div>
      <p>Equipe concernée</p>
      <select name="team_id" v-model="game.team_id">
        <option value="1">Elite</option>
        <option value="2">Prénational</option>
        <option value="3">Junior</option>
        <option value="4">Cadet</option>
        <option value="5">Minime</option>
        <option value="6">Benjamin</option>
        <option value="7">Poussin</option>
      </select>
    </div>

    <div>
      <p>Equipe Home</p>
      <input type="text" v-model="game.team1">
    </div>

    <div>
      <p>Equipe Away</p>
      <input type="text" v-model="game.team2">
    </div>

    <div>
      <p>Match terminée</p>
      <label for="true">Non</label>
      <input type="radio" v-model="game.completed" id="true" value="0" checked>
      <label for="false">Oui</label>
      <input type="radio" v-model="game.completed" id="false" value="1">
    </div>

    <div>
      <p>Score Home</p>
      <input type="number" v-model="game.score1" value="0">
    </div>

    <div>
      <p>Score Away</p>
      <input type="number" v-model="game.score2" value="0">
    </div>

    <div>
      <button @click="createGame()">Ajouter le match</button>
    </div>
  </div>
</template>

<script>
    export default {
        name: "GameCreator",
        data(){
          return {
            game: {
              gameType: null,
              date: null,
              team_id: null,
              team1: null,
              team2: null,
              completed: null,
              score1: null,
              score2: null
            }
          }
        },
        methods: {
          async createGame(){
            this.$store.dispatch('createGame', {
              game: this.game,
              auth: await this.$auth.getAccessToken()
            })
            this.$router.push('/games')
          }
        }
    }
</script>

<style scoped>

</style>
