<template>
    <div>
      <div class="info">
        <p>{{ game.date }}</p>
        <p>{{ category }}</p>
        <p>{{ game.gameType }}</p>
        <p>{{ game.team1 }}</p>
        <p>{{ game.team2 }}</p>
      </div>
      <div>
        <font-awesome-icon icon="edit" @click="goToUpdate()"/>
        <font-awesome-icon icon="trash-alt" @click="deleteGame()"/>
      </div>
    </div>
</template>

<script>
    export default {
        name: "GameItem",
        props: ['game'],
        computed: {
          category(){
            switch (this.game.team_id) {
              case '1':
                return "Elite"
                break
              case '2':
                return "Prénational"
                break
              case '3':
                return "Junior"
                break
              case '4':
                return "Cadet"
                break
              case '5':
                return "Minime"
                break
              case '6':
                return "Benjamin"
                break
              case '7':
                return "Poussin"
                break
            }
          }
        },
        methods: {
          goToUpdate(){
            this.$store.dispatch('gameToUpdate', this.game)
            this.$router.push('/update-game')
          },
          async deleteGame(){
            this.$store.dispatch('deleteGame', {
              game: this.game,
              auth: await this.$auth.getAccessToken()
            })
          }
        }
    }
</script>

<style scoped>
  div {
    display: flex;
  }

  .info {
    width: 90%;
    justify-content: space-between;
  }

  .info > * {
    width: 20%;
  }


</style>
