<template>
    <div>
      <div>
        <news-item v-for="article in news" v-bind:key="article.id" v-bind:article="article"/>
      </div>

      <div id="create-btn-container">
        <router-link tag="button" to="/create-news" class="button is-primary">Créer un nouvel article</router-link>
      </div>
    </div>
</template>

<script>
    import NewsItem from "./NewsItem";
    export default {
        name: "News",
      components: {NewsItem},
      computed: {
          news() {
            return this.$store.getters.getNews
          }
        },
        async created(){
          this.$store.dispatch('fetchNews', await this.$auth.getAccessToken())
        }
    }
</script>

<style scoped>

  div {
    text-align: left;
  }
  p {
    display: flex;
    justify-content: space-between;
  }

  #create-btn-container{
    display: flex;
    justify-content: center;
  }


</style>
