<template>
  <div class="">
    {{ article.title }}
    <span>
          <font-awesome-icon icon="edit" @click="goToUpdate"/>
          <font-awesome-icon icon="trash-alt" @click="deleteNews"/>
    </span>
  </div>
</template>

<script>
    export default {
        props: ['article'],
        name: "NewsItem",
        methods: {
          goToUpdate(){
            this.$store.dispatch('newsToUpdate', this.article)
            this.$router.push('/update-news')
          },
          async deleteNews(){
            this.$store.dispatch('deleteNews', {
              news: this.article.id,
              auth: await this.$auth.getAccessToken()
            })
          }
        }

    }
</script>

<style scoped>

</style>
