<template>
    <div>

      <div>
        <h5>Titre</h5>
        <input type="text" v-model="article.title">
      </div>

      <div>
        <h5>Description</h5>
        <textarea name="" id="" cols="120" rows="5"  v-model="article.description"></textarea>
      </div>

      <div>
        <h5>Catégorie</h5>
        <select  v-model="article.category">
          <option>Vie du Club</option>
          <option>Débrief'</option>
          <option>Evènement</option>
        </select>
      </div>

      <div>
        <h5>Image à la une</h5>
        <p>Uploadez l'image sur Cloudinary, dans le dossier News et coller ici l'url</p>
        <input type="text" v-model="article.featured_image_url">
      </div>

      <div>
        <h5>Corps de l'article</h5>
        <p>Rédigez votre article en Markdown</p>
        <p>Pour apprendre le Markdown en 5 minutes : <a href="https://openclassrooms.com/fr/courses/1304236-redigez-en-markdown">C'est par ici</a></p>
        <textarea name="" id="" cols="120" rows="50"  v-model="article.body"></textarea>
      </div>

      <div>
        <button @click="createNews">Créer l'article</button>
      </div>

    </div>
</template>

<script>
    export default {
        name: "NewsCreator",
        data: () => {
          return {
            article: {
              title: '',
              description: '',
              category: '',
              featured_image_url: '',
              body: ''
            }
          }
        },
        methods: {
          async createNews(){
            this.$store.dispatch('createNews', {
              news: this.article,
              auth: await this.$auth.getAccessToken()
            })
            this.$router.push('/news')
          }
        }
    }
</script>

<style scoped>

</style>
