<template>
  <div id="app">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <button v-if='authenticated' v-on:click='logout' id='logout-button'> Logout </button>
          <button v-else v-on:click='login' id='login-button'> Login </button>
          <router-link tag="h1" to="/" class="title" @click="setCurrentPage('home')">Hockey Site Content Management System</router-link>

        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li :class="{ 'is-active': $route.path === '/news' }">
                <router-link tag="a" to="/news">
                  News
                </router-link>
              </li>
              <li :class="{ 'is-active': $route.path === '/galleries' }" @click="setCurrentPage('galleries')">
                <router-link tag="a" to="/galleries">
                  Galleries
                </router-link>
              </li>
              <li :class="{ 'is-active': $route.path === '/videos' }" @click="setCurrentPage('videos')">
                <router-link tag="a" to="/videos">
                  Videos
                </router-link>
              </li>
              <li :class="{ 'is-active': $route.path === '/players' }" @click="setCurrentPage('players')">
                <router-link tag="a" to="/players">
                  Joueurs
                </router-link>
              </li>
              <li :class="{ 'is-active': $route.path === '/games' }" @click="setCurrentPage('games')">
                <router-link tag="a" to="/games">
                  Matchs
                </router-link>
              </li>
              <li :class="{ 'is-active': $route.path === '/standings ' }" @click="setCurrentPage('standings')">
                <router-link tag="a" to="/standings">
                  Classements
                </router-link>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>


    <main class="container">
      <router-view/>
    </main>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
      currentPage: '',
      authenticated: false
    }
  },
  created () {
    this.isAuthenticated()
  },
  watch: {
    // Everytime the route changes, check for auth status
    '$route': 'isAuthenticated'
  },
  methods: {
    setCurrentPage(value){
      this.currentPage = value
    },

    async isAuthenticated () {
      this.authenticated = await this.$auth.isAuthenticated()
    },

    login () {
      this.$auth.loginRedirect('/')
    },
    async logout () {
      await this.$auth.logout()
      await this.refreshActiveUser()
      await this.isAuthenticated()

      // Navigate back to home
      this.$router.push({ path: '/' })
    }
  }
}
</script>

<style>
/*#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}*/
</style>
